<a href="https://colab.research.google.com/github/mvvilori/DS-Coding-Dojo/blob/main/Loading_%26_Filtering_Data_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
filename = '/content/RailsToTrails_National Count Data_week(1).xlsx'
bike_df = pd.read_excel(filename)

In [ ]:
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [ ]:
#finding the values in 2020
bike_df['Week of']

0    2020-12-30
1    2020-01-06
2    2020-01-13
3    2020-01-20
4    2020-01-27
5    2020-02-03
6    2020-02-10
7    2020-02-17
8    2020-02-24
9    2020-03-02
10   2020-03-09
11   2020-03-16
12   2020-03-23
13   2020-03-30
14   2020-04-06
15   2020-04-13
16   2020-04-20
17   2020-04-27
18   2020-05-04
19   2020-05-11
20   2020-05-18
21   2020-05-25
22   2020-06-01
23   2020-06-08
24   2020-06-15
25   2020-06-22
26   2020-06-29
27   2020-07-06
28   2020-07-13
29   2020-07-20
30   2020-07-27
31   2020-08-03
32   2020-08-10
33   2020-08-17
34   2020-08-24
35   2020-08-31
36   2020-09-07
37   2020-09-14
38   2020-09-21
39   2020-09-28
40   2020-10-05
41   2020-10-12
42   2020-10-19
43   2020-10-26
44   2020-11-02
45   2020-11-09
46   2020-11-16
47   2020-11-23
48   2020-11-30
49   2020-12-07
50   2020-12-14
51   2020-12-21
Name: Week of, dtype: datetime64[ns]

In [ ]:
after_july_filter = bike_df['Week of']>'2020-07-27'
after_july_filter.value_counts()

False    30
True     22
Name: Week of, dtype: int64

In [ ]:
bike_df[after_july_filter].head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
31,Week 32,2020-08-03,180605.0,239827.0,NaN,0.330000,132.790897,NaN,NaN,NaN
32,Week 33,2020-08-10,191450.0,219279.0,NaN,0.150000,114.535910,NaN,NaN,NaN
33,Week 34,2020-08-17,168754.0,241007.0,NaN,0.430000,142.815578,NaN,NaN,NaN
34,Week 35,2020-08-24,176624.0,273677.0,NaN,0.550000,154.948931,NaN,NaN,NaN

In [ ]:
greater_than_1 = bike_df['Change 2019-2020']>1
greater_than_1.value_counts()

False    47
True      5
Name: Change 2019-2020, dtype: int64

In [ ]:
bike_df[greater_than_1].head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
7,Week 8,2020-02-17,69492.0,149876.0,NaN,1.156737,215.673747,NaN,NaN,NaN
11,Week 12,2020-03-16,125440.0,367795.0,NaN,1.932039,293.203922,NaN,NaN,NaN
12,Week 13,2020-03-23,136330.0,372783.0,NaN,1.730000,273.441649,NaN,NaN,NaN
13,Week 14,2020-03-30,118784.0,280728.0,NaN,1.360000,236.334860,NaN,NaN,NaN
14,Week 15,2020-04-06,132033.0,419160.0,NaN,2.170000,317.466088,NaN,NaN,NaN

In [ ]:
df = bike_df.loc[after_july_filter & greater_than_1, :]
df

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []

There are no weeks in the second half of the year where the change was greater than 100%